<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-6">
  <div>
    <h1 class="text-2xl font-bold text-gray-900">Edit Post</h1>
    <p class="mt-2 text-sm text-gray-700">
      Update the details of your post.
    </p>
  </div>
  <div class="mt-8">
    <%= render 'form', post: @post %>
  </div>
</div>